/* Rofi config file */
configuration {
    font: "Source Sans Pro 12";
    show-icons: true;
    display-window: "Window";
    display-drun: "o_0";
    modes: "window,drun,run,ssh,clipcat";
}

listview {
    lines: 12;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
